<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust</title>
  </head>
  <body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
      <input name="listing[title]" value="<%= listing.title %>" type="text" />
      <br /><br />
      <textarea name="listing[description]">
<%= listing.description %></textarea
      >
      <br /><br />
      <input name="listing[image]" value="<%= listing.image %>" type="text" />
      <br /><br />
      <input name="listing[price]" value="<%= listing.price %>" type="number" />
      <br /><br />
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
      />
      <br /><br />
      <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
      />
      <br /><br />
      <button>Edit</button>
    </form>
  </body>
</html>
